# built application files
*.apk
*.ap_

# Android Studio specific files
.idea/
.gradle/
build/
local.properties
/.idea/

# User-specific configuration files
*.iml
*.ipr
*.iws

# OS-specific files
.DS_Store
Thumbs.db

# Android specific
*.log
*.hprof

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx
